/* Sidebar.css */

.css-dip3t8 {
  background-color: black !important;
}


/* 1️⃣ Sobrescreve hover e ativo do item completo */
.pro-sidebar .pro-menu .pro-menu-item:hover>.pro-inner-item,
.pro-sidebar .pro-menu .pro-menu-item.active>.pro-inner-item {
  background-color: #afafaf !important;
}

/* 2️⃣ Ajusta cor dos textos no hover e ativo */
.pro-sidebar .pro-menu .pro-menu-item:hover .pro-item-content,
.pro-sidebar .pro-menu .pro-menu-item.active .pro-item-content {
  color: black !important;
}

/* 3️⃣ Ajusta cor dos ícones no hover e ativo */
.pro-sidebar .pro-menu .pro-menu-item:hover .pro-icon-wrapper,
.pro-sidebar .pro-menu .pro-menu-item.active .pro-icon-wrapper {
  color: black !important;
}

/* Corrige largura e altura em telas pequenas */
.pro-sidebar {
  height: 100vh;
}

.pro-sidebar .pro-menu-item.active {
  background-color: #2e2e48;
  color: #fff;
}

.pro-sidebar .pro-menu-item.active .pro-icon-wrapper {
  color: #fff;
}

.pro-sidebar .pro-menu-item:hover {
  background-color: #3a3a5a;
  color: #fff;
}

.pro-sidebar .pro-menu-item {
  padding: 12px 16px;
  font-size: 16px;
  transition: background-color 0.2s ease;
}

/* Remove borda superior do header */
.pro-sidebar .pro-sidebar-header {
  border-bottom: none;
}

/* Header estilo centrado */
.pro-sidebar .pro-sidebar-header div {
  color: #fff;
  font-weight: bold;
}

/* Estiliza ícones */
.pro-sidebar .pro-icon-wrapper {
  color: #cbd5e1;
}

/* Cor de fundo padrão*