/* App.css */

.app-container {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #afafaf; /* fundo claro */
}

/* Sidebar ocupa espaço fixo */
.sidebar {
  flex-shrink: 0;
}

/* Área do conteúdo ocupa restante do espaço */
.content-area {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}

/* Main ocupa espaço entre Header e Footer */
.main-content {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
}
